BODY {
	background: -webkit-gradient(linear, left top, left bottom, from(#204a87), to(#729fcf));
}
.header {
	font-size: 2em;;
	font-weight: bold;
}
#source-title {
	color: #fff;
}
#source-info {
	color: #fff;
}
#item-title {
	font-size: 1.8em;
	font-weight: bold;
	display: block;
	padding-bottom: 10px;
}
#item-source {
	float: right;
	font-weight: bold;
}
#item, #content {
	color: #000;
	border: 2px solid #d3d7cf;
	margin: 5 3 5 3px;
	padding: 15px;
	-webkit-border-radius: 0.7em;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eeeeef));
	/* font-family: Sans-Serif;*/
	line-height: 1.5em;
	font-size: 1.2em;
}
