body {
  background: #fff;
  color: #000;
  margin: 5 3 5 3px;
  padding: 15px;
}

#content {
  line-height: 1.5em;
  font-size: 1.2em;
}

.header {
  font-size: 2em;
}

#item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

#item-title {
  font-size: 1.8em;
  font-weight: bold;
  display: block;
  padding-bottom: 10px;
}

#item-source {
  font-weight: bold;
  float: right;
}

#item-author {
  font-size: 1.1em;
}

.faded {
  color: #888a85;
  font-size: 1em;
}
