BODY {
	color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#2e3436), to(#888a85));
}
.header {
	font-size: 2em;;
	font-weight: bold;
}
#item-title {
	font-size: 1.8em;
	font-weight: bold;
	display: block;
	padding-bottom: 10px;
}
#item, #content {
	color: #000;
	border: 2px solid #d3d7cf;
	margin: 5 3 5 3px;
	padding: 15px;
	-webkit-border-radius: 0.7em;
	background: -webkit-gradient(linear, left top, left bottom, from(#eeeeec), to(#babdb6));
	/* font-family: Sans-Serif; */
	line-height: 1.5em;
	font-size: 1.2em;
}
